.inline-buttons {
  margin-left: 0;

  &--centered {
    text-align: center;
  }

  &__button {
    display: inline-block;
    list-style: none;
    margin-right: rhythm(0.5);

    &--last {
      @extend .inline-buttons__button;
      margin-right: 0;
    }
  }

  &__spacer {
    @extend .inline-buttons__button;

    &--wide {
      padding-left: rhythm(0.5);
      padding-right: rhythm(0.5);
    }
  }

  &--stacked {
    @extend .inline-buttons;

    &__button {
      @extend .inline-buttons__button;
      @include margin-trailer(0.75);
      display: block;
      margin-right: 0;

      &--last {
        @extend .inline-buttons--stacked__button;
        @include margin-trailer(0);
      }
    }
  }
}
