@charset "utf-8"
@import "bootstrap"

body > .container
  margin-top: 20px

  > h1
    float: right
    font-size: 25px
    margin-right: 20px
    line-height: 25px
    color: #007197

  .content
    padding: 25px
