@charset "utf-8"
@import "bootstrap"

html, body
  height: 100%

body
  font-size: 16px

  .page-wrapper
    height: auto !important
    min-height: 100%
    margin: 0 auto -60px

  .content
    padding: 60px 0 120px

  header
    .navbar
      overflow: visible

      .navbar-inner
        padding: 5px 0

        .brand
          color: #777777
          display: block
          float: left
          font-size: 20px
          font-weight: 200
          margin-left: -20px
          padding: 10px 20px
          text-shadow: 0 1px 0 #FFFFFFp
          background: url('/images/logo-nav.png') center no-repeat
          width: 240px
          text-indent: -1000px

        .social
          margin-top: 10px
          float: right

          .twitter, .github
            float: left

  footer, .push
    height: 60px

  footer
    background-color: #f5f5f5

    .copyright
      margin: 20px auto
      text-align: center

  .navbar-fixed-top
    position: fixed
    left: 0
    right: 0
    margin-bottom: 0
    z-index: 1030

  > h1
    float: right
    font-size: 25px
    margin-right: 20px
    line-height: 25px
    color: #007197

.index
  h1
    margin: 40px auto
    width: 50%
    font-weight: normal
    text-align: center

  h3
    margin: 20px 0

.member
  img
    width: 100%

#template
  display: none
