.blog
  aside
    margin-top: 20px

  .article-author
    font-size: 14px

    em
      margin: 0 5px

  .article-tags
    a
      margin: 5px

  .blog-sidebar
    .article-sidebar
      margin-top: 1em
    .subscribe
      margin-bottom: 1em

  ul.posts
    a
      margin-right: 0.25em
    span
      margin: 0.25em
