---
title: Tutorials &raquo; Todo App with Sinatra
summary: "Rapid prototype a Todo list API with ROM and Sinatra using ROM’s setup DSL."
slug: "/tutorials/todo-app-with-sinatra"
---

= tutorials_layout do
  = partial("doc-pages/tutorials/todo-app-with-sinatra")
