---
title: Tutorials &raquo; Todo App with Rails
summary: "Learn how ROM integrates with Rails with this step by step guide to building a simple Todo list manager."
slug: "/tutorials/todo-app-with-rails"
---

= tutorials_layout do
  = partial("doc-pages/tutorials/todo-app-with-rails")
