// Global imports
@import '~breakpoint-sass';
@import '~breakpoint-slicer';
@import '~flask';
@import '~susy';

// Config
@import '_config/**/*';

// Functions
@import '_functions/**/*';

// Mixins
@import '_mixins/**/*';

// Libraries
@import '_lib/_vertical-rhythms';
@import '_lib/**/*';

// Base
@import '_base/**/*';

// Modules
@import '_modules/**/*';

.feedback {
  margin-top: 1rem;

  .inline-buttons {
    float: right;
  }

  .button {
    margin-left: 1rem;
    font-size: 0.65rem;
  }
}

blockquote {
  .hd {
    margin-bottom: 0.35rem;

    &:hover {
      .anchor {
        display: none;
      }
    }
  }
}

.hd {
  display: block;
  margin-bottom: 1.2rem;

  .anchor {
    padding-right: 2px;
    margin-left: -18px;
    display: none;
  }

  &:hover {
    .anchor {
      display: inline-block;
    }
  }
}
